.encabezado{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagen{
    width: 150px;
    height: 150px;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.container{ 
    position:relative;
    margin-left: 200px;
    margin-right: 0px;
}


input{
    width: 350px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 15px;
    border: 0;
    top: 100px;
    outline: none;
    font-size: 1rem;
    margin: 50px;

}

.entrarn{
    width: 110px;
    height: 110px;
}

.carrito{
    width: 50px;
    height: 50px;
}

.bloque2{
    text-align: center;
    justify-content: end;
    align-items: center;
    display: flex;
}

body{
    background-image: linear-gradient(45deg, #670000, #000);
}

h1{
    display: flex;
    justify-content: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


